.input {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 0.43rem;

  background-color: #ebebfc;
  border: solid 2px #4f4fb9;
  color: #4f4fb9;

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}
