.button {
  width: 6.62rem;
  height: 2.87rem;
  border-radius: 0.43rem;

  background-color: #6363db;
  border: 2px solid #4f4fb9;
  color: #ffff;
  outline: none;
  font-weight: bold;
}

.button:hover {
  filter: brightness(0.75);
}
