.tip {
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #ebebfc;
  color: #4f4fb9;

  border-radius: 0.62rem;
  padding: 1rem;
}

.tip h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.tip p {
  font-size: 1rem;
  margin-top: 0.31rem;
}
