.letterUsed {
  width: 100%;
  border-top: 1px solid #c3c3c3;
  margin-top: 3.25rem;
  padding-top: 0.75rem;
}

.letterUsed h5 {
  color: #32325f;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.letterUsed > div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
