.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  height: 3.75rem;
}

.container > header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.25rem 0;
}

.container > header button {
  background-color: transparent;
}
